.group-wrapper-root {
  display: grid;
  grid-template-columns:
    [boolean-start] 60px [boolean-end property-start] minmax(min-content, 100px) [property-end operator-start] 90px [operator-end value-start] auto [value-end menu-start] 28px [menu-end];
  grid-auto-rows: minmax(28px, auto);
  gap: 6px;
  padding: 6px 6px 0px;
  place-items: start stretch;
}

.sub-group-filter {
  grid-column: property-start / value-end;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 3px;
  box-shadow: rgba(55, 53, 47, 0.08) 0px 0px 0px 1px;
  margin: 0.5px;
  align-self: stretch;
}